.noBorder input,
.noBorder textarea {
    border-style: none;
    border-bottom: 1px solid #e3e3e3;
    border-radius: 0px;
    background-color: transparent !important;
}

.noBorder_all input,
.noBorder_all textarea { 
    background-color: transparent !important;
    text-align: center;
    border-style: none; 
}
